@model List<WebProjekat.Models.Ispit>

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Student</title>
</head>
<body>
    <div class="bgd">
        <h1>Prijava ispita</h1>
        <div class="action">
            <form action="/Student/Index" method="post" style="all: initial;">
                <div class="content">
                    <button type="submit" style="max-width: 300px; border-radius: 7px;">Početna stranica</button>
                </div>
            </form>

            <form action="/Home/Odjava" method="post" style="all: initial;">
                <div class="content" style="margin-left: -50px;">
                    <button type="submit" class="button2">Logout</button>
                </div>
            </form>
        </div>

        <h2 style="color: darkgoldenrod; padding-top: 15px; text-align: center;">@Session["error"] @{Session["error"] = null;}</h2>

        <br />
        <table>
            <thead>
                <tr>
                    <th>Profesor</th>
                    <th>Predmet</th>
                    <th>Učionica</th>
                    <th>Ispitni rok</th>
                    <th>Datum i vreme održavanja</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Profesor.Ime @s.Profesor.Prezime </td>
                        <td>@s.Predmet</td>
                        <td>@s.Ucionica</td>
                        <td>@s.NazivIspitnogRoka</td>
                        <td>@s.DatumIVremeOdrzavanja.ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="text-align: center;">
                            <a href='/Student/Prijava?iid=@s.Id' style="color: darkgoldenrod">Prijava ispita</a>&emsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</body>
</html>
